{{template "header" .}}

{{define "title"}}Все пользователи{{end}}

{{define "main"}}
    {{if .Users}}
        <table cellspacing="10px">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            {{range .Users}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Email}}</td>
                <td>{{.Name}}</td>
                <td>{{.Surname}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <h3>Пользователей пока нет</h3>
    {{end}}
{{end}}
