{{template "header".}}

{{define "title"}}Изменение пароля{{end}}

{{define "main"}}

{{if .User }}
    <form action="/changePassword/" method="post">
        <input type="password" name="password" placeholder="Текущий пароль" />
        <br/><br/>
        <input type="password" name="newPassword" placeholder="Новый пароль" />
        <br/><br/>
        <input type="password" name="repNewPassword" placeholder="Повтор" />
        <br/><br/>
        <input type="submit" value="Принять"/>
    </form>
{{end}}

{{end}}
